.find {
  font-size: var(--text-base);

  // 内部输入框
  .ant-input-group .ant-input:hover {
    border-color: var(--bg-dark);
    border: 0;
    box-shadow: none;
  }

  // 搜索按钮
  .ant-input-search-large .ant-input-search-button,
  button {
    height: 3rem;
    width: 6rem;
    padding: 0px 15px;
    border-radius: 15px;
    background: var(--bg-dark);
    font-size: var(--text-base);

  }

  .ant-input-search>.ant-input-group>.ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-color-primary):hover {
    color: var(--text-light);
  }

  .ant-input-search>.ant-input-group>.ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-color-primary) {
    color: var(--text-light);
  }

  .create {
    width: 8rem;
  }

  // 左侧输入框
  .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
    border-color: var(--bg-dark);
    height: 3rem;
    font-size: var(--text-base);
    padding: 0px 15px;
    border-radius: 15px 0 0 15px;
  }

  .ant-input-group .ant-input-affix-wrapper:not(:last-child):hover {
    border-color: var(--text-secondary);
    width: 100%;
    box-shadow: 0 0 0 2px var(--bg-hover);
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
  }
}

.check {
  margin-top: -7rem;

  .ant-card .ant-card-body {
    padding: 5px 14px 14px !important;
    border-radius: 0 0 8px 8px;
  }

  .ant-ribbon .ant-ribbon-text {
    color: inherit;
    background: inherit;
  }

  .ant-ribbon.ant-ribbon-placement-end {
    inset-inline-end: -12px;
    border-end-end-radius: 0;
  }

  .ant-ribbon {
    top: 12px;
    width: fit-content;
    text-align: center;
    padding: 4px 12px;
  }

  /* 调整丝带文字样式 */
  .ant-ribbon-text {
    font-size: 14px;
    line-height: 1.5;
  }

  .ant-ribbon-corner {
    width: 12px;
    -background-clip: text;
    height: 12px;
    background: transparent;
    border: 6px solid;
    border-color: inherit;
    filter: brightness(0.8);
  }

  .large-ribbon .ant-ribbon {
    width: 150px;
  }

}