.resource-card:hover {
  transform: translateY(-2px);
}

.line-clamp-1 {
  display: -webkit-box;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

:where(.css-dev-only-do-not-override-1nfvks7).ant-card-bordered {
  border: 1px solid rgb(200, 198, 198) !important;
}

.check {
  position: relative;
  top: -7rem;

}