.find {
  font-size: var(--text-base);
}
.find .ant-input-group .ant-input:hover {
  border-color: var(--bg-dark);
  border: 0;
  box-shadow: none;
}
.find .ant-input-search-large .ant-input-search-button,
.find button {
  height: 3rem;
  width: 6rem;
  padding: 0px 15px;
  border-radius: 15px;
  background: var(--bg-dark);
  font-size: var(--text-base);
}
.find .ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-color-primary):hover {
  color: var(--text-light);
}
.find .ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-color-primary) {
  color: var(--text-light);
}
.find .create {
  width: 8rem;
}
.find .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
  border-color: var(--bg-dark);
  height: 3rem;
  font-size: var(--text-base);
  padding: 0px 15px;
  border-radius: 15px 0 0 15px;
}
.find .ant-input-group .ant-input-affix-wrapper:not(:last-child):hover {
  border-color: var(--text-secondary);
  width: 100%;
  box-shadow: 0 0 0 2px var(--bg-hover);
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}
.check {
  /* 调整丝带文字样式 */
}
.check .ant-card .ant-card-body {
  padding: 5px 14px 14px !important;
  border-radius: 0 0 8px 8px;
}
.check .ant-ribbon .ant-ribbon-text {
  color: inherit;
  background: inherit;
}
.check .ant-ribbon.ant-ribbon-placement-end {
  inset-inline-end: -12px;
  border-end-end-radius: 0;
}
.check .ant-ribbon {
  top: 12px;
  width: fit-content;
  text-align: center;
  padding: 4px 12px;
}
.check .ant-ribbon-text {
  font-size: 14px;
  line-height: 1.5;
}
.check .ant-ribbon-corner {
  width: 12px;
  -background-clip: text;
  height: 12px;
  background: transparent;
  border: 6px solid;
  border-color: inherit;
  filter: brightness(0.8);
}
.check .large-ribbon .ant-ribbon {
  width: 150px;
}
