.background {
  position: fixed;
  height: 100vh;
  background: url(../../assets/login4.png) no-repeat fixed center / cover;

  .container {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);

    a:hover {
      color: var(--text-green);
    }

    .ant-pro-form-login-container {
      padding-block-end: 0.6rem;
    }

    .ant-pro-form-login-desc {
      margin-block-end: 20px;
    }

    .ant-tabs-top>.ant-tabs-nav::before,
    .ant-tabs-bottom>.ant-tabs-nav::before,
    .ant-tabs-top>div>.ant-tabs-nav::before,
    .ant-tabs-bottom>div>.ant-tabs-nav::before {

      border-bottom: 0;

    }

    .ant-form-item {
      margin-top: 0.4rem;
    }

    .ant-tabs-tab-btn {
      font-size: 0.875rem;
      text-align: center;
    }

    .ant-tabs .ant-tabs-tab+.ant-tabs-tab {
      margin: 0 0 0 1.3rem;
    }

    .ant-space-gap-col-small {
      column-gap: 16px;
    }

    .ant-tabs-top>.ant-tabs-nav .ant-tabs-ink-bar {
      width: 8rem !important;
      background-color: var(--text-green);
    }

    .ant-tabs-tab-active {
      // border-radius: 15% 15% 0 0;
      background-color: var(--accent-green-light);
    }

    .ant-tabs .ant-tabs-tab {
      padding: 12px 1.2rem;
    }

    .otherLogin svg:hover {
      color: var(--bg-dark);
    }

  }
}