.hot {
  .ant-card {
    border: 2px var(--border-like);
  }

  button:hover {
    color: var(--primary-dark);
  }

  .ant-card .ant-card-head {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 56px;
    margin-bottom: -1px;
    margin: 0 24px;
    color: var(--text);
    font-weight: 600;
    font-size: 18px;
    background: transparent;
    border-bottom: 3px solid var(--border-hot);
    border-radius: 8px 8px 0 0;
  }

  .ant-list .ant-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0,
  }
}

.bounty {
  a {
    color: var(--text-main);
    font-weight: 600;
  }
}

.normal>div:last-child {

  .border-b.border-main {
    border-bottom: none !important;
  }
}