.container {
  position: relative;
  top: -11rem;
  // margin-left: 1rem;
  // margin-right: 1rem;

  .left {
    margin-bottom: 0;

    .text-logo {
      position: relative;
      top: -6rem;
      left: 6rem;
    }

    .text-description {
      position: relative;
      top: -4rem;
    }

    .text-button {
      width: 3rem !important;
    }
  }
}


.news {
  position: relative;

  .news-more {
    position: absolute;
    right: 1rem;
    top: 2rem;
  }
}