.news {
  position: relative;

  .news-more {
    position: absolute;
    right: 1rem;
    top: 2rem;
  }
}

// .react-flow__edge-textbg {
//   fill: rgba(255, 255, 255, 0);
//   border-radius: 50% !important;
// }