.preview:hover {
  border-color: var(--primary);
  transform: translateY(-2px);
  transition: all 0.3s ease;
}
.comment .ant-form-item,
.comment .ant-row,
.comment .ant-form-item .ant-form-item-label > label {
  font-size: var(--text-base);
}
.comment .ant-input,
.comment .ant-input-textarea-affix-wrapper.ant-input-affix-wrapper > textarea.ant-input {
  font-size: var(--text-sm);
}
.comment .ant-form-item:last-child {
  margin-bottom: 0 !important;
}
.side {
  position: sticky;
  top: 20px;
  /* 当元素距离视口顶部 ≤20px 时触发固定 */
  z-index: 100;
  width: 300px;
  height: 200px;
  background: white;
}
.parent {
  overflow: visible;
  min-height: 100vh;
}
